@use "fonts.scss";

:root {
	--measure: 60ch;

	--rgb-light-gray: 245, 245, 245;
	--rgb-light-accent: 235, 235, 235;

	--text: #000;
	--met-red: #e4022b;
	--met-red-glare: #ff1c46;
	--met-red-lighter: #96011c;
	--hsl-secondary: 165deg 80% 33%;

	--color-secondary: hsl(var(--hsl-secondary));
	--color-bg: rgb(var(--rgb-light-gray));

	--button-active: hsla(var(--hsl-secondary) / 51%);

	/* @link https://utopia.fyi/type/calculator?c=320,21,1.25,1140,24,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

	--step--2: clamp(0.91rem, 0.89rem + 0.1vw, 0.96rem);
	--step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
	--step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
	--step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
	--step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
	--step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
	--step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
	--step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
	--fluid-min-width: 320;
	--fluid-max-width: 1140;

	--fluid-screen: 100vw;
	--fluid-bp: calc(
		(var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
			(var(--fluid-max-width) - var(--fluid-min-width))
	);
}

@media screen and (min-width: 1140px) {
	:root {
		--fluid-screen: calc(var(--fluid-max-width) * 1px);
	}
}

:root {
	--fc-3xs-min: (var(--fc-s-min) * 0.25);
	--fc-3xs-max: (var(--fc-s-max) * 0.25);

	--fc-2xs-min: (var(--fc-s-min) * 0.5);
	--fc-2xs-max: (var(--fc-s-max) * 0.5);

	--fc-xs-min: (var(--fc-s-min) * 0.75);
	--fc-xs-max: (var(--fc-s-max) * 0.75);

	--fc-s-min: (var(--f-0-min, 21));
	--fc-s-max: (var(--f-0-max, 24));

	--fc-m-min: (var(--fc-s-min) * 1.5);
	--fc-m-max: (var(--fc-s-max) * 1.5);

	--fc-l-min: (var(--fc-s-min) * 2);
	--fc-l-max: (var(--fc-s-max) * 2);

	--fc-xl-min: (var(--fc-s-min) * 3);
	--fc-xl-max: (var(--fc-s-max) * 3);

	--fc-2xl-min: (var(--fc-s-min) * 4);
	--fc-2xl-max: (var(--fc-s-max) * 4);

	--fc-3xl-min: (var(--fc-s-min) * 6);
	--fc-3xl-max: (var(--fc-s-max) * 6);

	/* T-shirt sizes */
	--space-3xs: calc(
		((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-3xs-max) - var(--fc-3xs-min)) * var(--fluid-bp)
	);
	--space-2xs: calc(
		((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) * var(--fluid-bp)
	);
	--space-xs: calc(
		((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) * var(--fluid-bp)
	);
	--space-s: calc(
		((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) * var(--fluid-bp)
	);
	--space-m: calc(
		((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) * var(--fluid-bp)
	);
	--space-l: calc(
		((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) * var(--fluid-bp)
	);
	--space-xl: calc(
		((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) * var(--fluid-bp)
	);
	--space-2xl: calc(
		((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) * var(--fluid-bp)
	);
	--space-3xl: calc(
		((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) * var(--fluid-bp)
	);

	/* One-up pairs */
	--space-3xs-2xs: calc(
		((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-3xs-min)) * var(--fluid-bp)
	);
	--space-2xs-xs: calc(
		((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) * var(--fluid-bp)
	);
	--space-xs-s: calc(
		((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) * var(--fluid-bp)
	);
	--space-s-m: calc(
		((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) * var(--fluid-bp)
	);
	--space-m-l: calc(
		((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) * var(--fluid-bp)
	);
	--space-l-xl: calc(
		((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) * var(--fluid-bp)
	);
	--space-xl-2xl: calc(
		((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) * var(--fluid-bp)
	);
	--space-2xl-3xl: calc(
		((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-2xl-min)) * var(--fluid-bp)
	);

	/* Custom pairs */
	--space-s-l: calc(
		((var(--fc-s-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-s-min)) * var(--fluid-bp)
	);
}

body {
	background-color: #f5f5f5;
	color: #111;
	font-family: 'Fern Web', Georgia, 'Times New Roman', Times, serif;
	overflow-x: hidden;
	min-height: 100vh;
	font-size: var(--step--1);
}

a {
	color: inherit;
}
button {
	display: inline-block;
	padding: 0.5rem 1rem;
	background: var(--met-red);
	color: white;
	// font-size: 1rem;
	border: none;
	text-decoration: none;
	border-radius: 0.25rem;
	text-align: center;
	cursor: pointer;
	font-weight: 700;
	font-family: 'Fern Web', Georgia, serif;
	white-space: nowrap;
}
button:active {
	transform: scale(0.97);
}

img {
	max-width: min(55rem, 100%);
}

img[width] {
	width: auto; /* Defer to max-width */
}
img[width][height] {
	height: auto; /* Preserve aspect ratio */
}

/* Let SVG scale without boundaries */
img[src$='.svg'] {
	width: 100%;
	height: auto;
	max-width: none;
}

.flow > * + * {
	margin-top: var(--flow-space, 1em);
}

h1,
h2,
h3 {
	font-family: 'Pomfret Web', Georgia, serif;
}
ul {
	list-style: none;
	padding: 0;
}

/* dark mode media query */
@media (prefers-color-scheme: dark) {
	:root {
		filter: invert(100%);
	}
	* {
		background-color: inherit;
	}
	img {
		filter: invert(100%);
	}

	.country {
		filter: invert(1);
		background: transparent;
	}
}

/* Typography */

h1,
h2,
h3,
h4 {
	line-height: 1.3;
}

h1,
h2 {
	font-weight: 900;
}

h1 {
	font-size: var(--step-3);
	// max-width: 15ch;
}

// h2,
// h3 {
// 	max-width: 25ch;
// }

h2 {
	font-size: var(--step-2);
}

h3 {
	font-size: var(--step-1);
}
.wrapper {
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
}
